# This is just a first tests. Don't judge me

### Importing and preprocessing of data

In [309]:
import pandas as pd
from sklearn.metrics import accuracy_score

# read in csv data
matches = pd.read_csv("AI Match Results 150years.csv")
matches.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [217]:
matches.shape

(44060, 9)

In [371]:
matches.dtypes

date               datetime64[ns]
home_team                  object
away_team                  object
home_score                  int64
away_score                  int64
tournament                 object
city                       object
country                    object
neutral                      bool
home_team_code              int16
away_team_code              int16
tournament_code             int16
home_win                     bool
away_win                     bool
draw                         bool
result                     object
result_code                  int8
date_delta                float64
ELO_home                    int64
ELO_away                    int64
dtype: object

In [311]:
import numpy as np

#convert date into usable format
matches["date"] = pd.to_datetime(matches["date"])

# convert object columns into integers
matches["home_team_code"] = matches["home_team"].astype("category").cat.codes
matches["away_team_code"] = matches["away_team"].astype("category").cat.codes
matches["tournament_code"] = matches["tournament"].astype("category").cat.codes

# convert result into boolean statements
matches["home_win"] = (matches["home_score"] > matches["away_score"])
matches["away_win"] = (matches["home_score"] < matches["away_score"])
matches["draw"] = (matches["home_score"] == matches["away_score"])

matches["result"] = "Home_Win"
matches.loc[matches["home_score"] < matches["away_score"], "result"] = "Away_Win"
matches.loc[matches["home_score"] == matches["away_score"], "result"] = "Draw"
matches["result_code"] = matches["result"].astype("category").cat.codes


#drop old data before 1960
#matches  = matches.drop(matches[matches['date'] < '1960-01-01'].index)

# dunno why datetime does not work for training. Therefore creating a new attribute with just rising numbers 
matches["date_delta"] = (matches['date'] - matches['date'].min())  / np.timedelta64(1,'D')

matches.head(100)

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_team_code,away_team_code,tournament_code,home_win,away_win,draw,result,result_code,date_delta
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,238,83,70,False,False,True,Draw,1,0.0
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,83,233,70,True,False,False,Home_Win,2,98.0
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,238,83,70,True,False,False,Home_Win,2,462.0
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,83,233,70,False,False,True,Draw,1,826.0
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,238,83,70,True,False,False,Home_Win,2,1190.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1894-03-31,Northern Ireland,Scotland,1,2,British Championship,Belfast,Ireland,False,195,233,22,False,True,False,Away_Win,0,7791.0
96,1894-04-07,Scotland,England,2,2,British Championship,Glasgow,Scotland,False,238,83,22,False,False,True,Draw,1,7798.0
97,1895-03-09,England,Northern Ireland,9,0,British Championship,Derby,England,False,83,192,22,True,False,False,Home_Win,2,8134.0
98,1895-03-16,Northern Ireland,Wales,2,2,British Championship,Belfast,Ireland,False,195,291,22,False,False,True,Draw,1,8141.0
99,1895-03-18,England,Wales,1,1,British Championship,London,England,False,83,291,22,False,False,True,Draw,1,8143.0

### Spliting the data for training

In [312]:
# split train and test data: use 80% for training and the remaining for testing
train = matches.sample(frac = 0.8)
test  = matches.drop(train.index)

train.shape

(35247, 18)

In [313]:
test.shape

(8812, 18)

# RandomForestClassifier

In [244]:
# fitting
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

predictors = ["date_delta", "home_team_code", "away_team_code", "tournament_code", "neutral"]
targets = "home_win"

rf.fit(train[predictors], train[targets])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [245]:
# make predictions
predictions = rf.predict(test[predictors])

# accuracy
acc_score = accuracy_score(test[targets], predictions)
acc_score

0.610709300850146

In [246]:
#visualize the predcitions a bit
combined = pd.DataFrame(dict(actual=test[targets], predicted=predictions))
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted  False  True
actual
False       2581  1470
True        1598  2232

# MLPClassifier

In [317]:
# fitting
from sklearn.neural_network import MLPClassifier

predictors = ["home_team_code", "away_team_code"]
targets = "result_code"

clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(30, 5), random_state=2)

clf.fit(train[predictors], train[targets])

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(20, 5), random_state=2,
              solver='lbfgs')

In [318]:
# make predictions
predictions = clf.predict(test[predictors])

# accuracy
acc_score = accuracy_score(test[targets], predictions)
acc_score

0.4942124375851112

In [319]:
#visualize the predcitions a bit
combined = pd.DataFrame(dict(actual=test[targets], predicted=predictions))
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted     2
actual
0          2510
1          1947
2          4355

# That doesn't work at all. Time to improve the Data

How about calculating the strength of each team using ELO
https://en.wikipedia.org/wiki/World_Football_Elo_Ratings

In [384]:
# create dict for tournament type

# to output all torunament types print the following line
#matches["tournament"].unique()

# set according to http://www.eloratings.net/about
K = {
    'Friendly': 20,
    'British Championship': 30,
    'Copa Lipton': 30,
    'Copa Newton': 30,
    'Copa Premio Honor Argentino': 30,
    'Copa Premio Honor Uruguayo': 30,
    'Copa Roca': 30,
    'Copa América': 30,
    'Copa Chevallier Boutell': 30,
    'Nordic Championship': 30,
    'International Cup': 50,
    'Baltic Cup': 30,
    'Balkan Cup': 30,
    'FIFA World Cup': 60,
    'Copa Rio Branco': 30,
    'FIFA World Cup qualification': 50,
    'Bolivarian Games': 30,
    'CCCF Championship': 30,
    'NAFU Championship': 30,
    'Copa Oswaldo Cruz': 30,
    'Pan American Championship': 30,
    'Copa del Pacífico': 30,
    "Copa Bernardo O'Higgins": 30,
    'AFC Asian Cup qualification': 30,
    'Atlantic Cup': 30,
    'AFC Asian Cup': 30,
    'African Cup of Nations': 30,
    'Copa Paz del Chaco': 30,
    'Merdeka Tournament': 30,
    'UEFA Euro qualification': 40,
    'UEFA Euro': 50,
    'Windward Islands Tournament': 30,
    'African Cup of Nations qualification': 30,
    'Vietnam Independence Cup': 30,
    'Copa Carlos Dittborn': 30,
    'Phillip Seaga Cup': 30,
    'CONCACAF Championship': 30,
    'Copa Juan Pinto Durán': 30,
    'Arab Cup': 30,
    'South Pacific Games': 30,
    'CONCACAF Championship qualification': 30,
    'Copa Artigas': 30,
    'GaNEFo': 30,
    "King's Cup": 30,
    'Gulf Cup': 30,
    'Indonesia Tournament': 30,
    'Korea Cup': 30,
    'Palestine Cup': 30,
    'Brazil Independence Cup': 30,
    'Copa Ramón Castilla': 30,
    'Oceania Nations Cup': 30,
    'CECAFA Cup': 30,
    'Kuneitra Cup': 30,
    'Copa Félix Bogado': 30,
    'Real Madrid 75th Anniversary Cup': 30,
    'Beijing International Friendship Tournament': 30,
    'Kirin Cup': 30,
    'CFU Caribbean Cup qualification': 30,
    'CFU Caribbean Cup': 30,
    'Amílcar Cabral Cup': 30,
    'FIFA 75th Anniversary Cup': 30,
    'Guangzhou International Friendship Tournament': 30,
    'Mundialito': 30,
    'West African Cup': 30,
    'Nehru Cup': 30,
    'Merlion Cup': 30,
    'Great Wall Cup': 30,
    'UDEAC Cup': 30,
    'Rous Cup': 30,
    'CONMEBOL–UEFA Cup of Champions': 30,
    'Lunar New Year Cup': 30,
    'Arab Cup qualification': 30,
    'Tournoi de France': 30,
    'Malta International Tournament': 30,
    'Matthews Cup': 30,
    'Tournament Burkina Faso': 30,
    'Island Games': 30,
    'Dynasty Cup': 30,
    'Dakar Tournament': 30,
    'UNCAF Cup': 30,
    'Gold Cup': 30,
    'USA Cup': 30,
    'Jordan International Tournament': 30,
    'Confederations Cup': 30,
    'United Arab Emirates Friendship Tournament': 30,
    'Oceania Nations Cup qualification': 30,
    'Simba Tournament': 30,
    'SAFF Cup': 30,
    'AFF Championship': 30,
    'King Hassan II Tournament': 30,
    'Cyprus International Tournament': 30,
    'Dunhill Cup': 30,
    'COSAFA Cup qualification': 30,
    'COSAFA Cup': 30,
    'Gold Cup qualification': 30,
    'SKN Football Festival': 30,
    'UNIFFAC Cup': 30,
    'WAFF Championship': 30,
    'Millennium Cup': 30,
    'Cup of Ancient Civilizations': 30,
    "Prime Minister's Cup": 30,
    'EAFF Championship': 30,
    'TIFOCO Tournament': 30,
    'Afro-Asian Games': 30,
    'AFC Challenge Cup': 30,
    'FIFI Wild Cup': 30,
    'ELF Cup': 30,
    'Viva World Cup': 30,
    'AFC Challenge Cup qualification': 30,
    'African Nations Championship': 30,
    'VFF Cup': 30,
    'Dragon Cup': 30,
    'ABCS Tournament': 30,
    'Nile Basin Tournament': 30,
    'Nations Cup': 30,
    'Copa Confraternidad': 30,
    'Pacific Games': 30,
    'Superclásico de las Américas': 30,
    'Kirin Challenge Cup': 30,
    'OSN Cup': 30,
    'CONIFA World Football Cup': 30,
    'CONIFA European Football Cup': 30,
    'Copa América qualification': 30,
    'World Unity Cup': 30,
    'Pacific Mini Games': 30,
    'Intercontinental Cup': 30,
    'AFF Championship qualification': 30,
    'UEFA Nations League': 40,
    'CONCACAF Nations League qualification': 30,
    'African Nations Championship qualification': 30,
    'Atlantic Heritage Cup': 30,
    'Inter Games Football Tournament': 30,
    'CONCACAF Nations League': 30,
    'Three Nations Cup': 30,
    'Mahinda Rajapaksa Cup': 30,
    'Navruz Cup': 30,
    'CONIFA Africa Football Cup': 30,
    'CONIFA South America Football Cup': 30,
    "MSG Prime Minister's Cup": 30
}

In [382]:
def calcNewELO( R_old, R_opp, tournament_type, own_score, opp_score, is_home_team):
    # R_new = R_old + K * G * (W - W_e)
    #   R_new = The new team rating
    #   R_old = The old team rating
    #   K = Weight index regarding the tournament of the match
    #       World Cup, Olympic Games (1908–1980) 	60
    #       Continental championship and intercontinental tournaments 	50
    #       World Cup and Continental qualifiers and major tournaments 	40
    #       All other tournaments 	30
    #       Friendly matches 	30
    #   G = A number from the index of goal differences
    #   W = The result of the match
    #   W_e = The expected result
    G=1
    W=1

    # set G according to http://www.eloratings.net/about
    if (own_score >= (opp_score+4)):
        N = own_score-opp_score
        G = 1 + 3/4 + (N-3)/8
    elif (own_score > opp_score+3):
        G = 1.5

    # dr equals the difference in ratings plus 100 points for a team playing at home. 
    if (is_home_team):
        dr = R_old + 100 - R_opp
    else:
        dr = R_old - (R_opp +100)
    
    # We = 1 / ( (10^(-dr/400)) + 1)
    We = 1 / ( pow(10, (-dr/400)) + 1)

    if (own_score > opp_score):
        W = 1
    elif (own_score ==  opp_score):
        W = 0.5
    else:
        W = 0

    R_new = R_old + K[tournament_type] * G * (W - We)
    
    return R_new

In [489]:
# Test it
Rn = calcNewELO(1000, 100, "UEFA Nations League", 5, 1, True )
print(Rn)

960.1260923673304

In [486]:
# update matches data with ELO of each team
matches["ELO_home"] = 0
matches["ELO_away"] = 0

# make a list of all teams using "home_team" and "away_team"
uteams = (matches["home_team"].append( matches["away_team"] )).unique()
# initialie ELO with 1000
all_teams_ELO = dict.fromkeys(uteams, 1000)


for ind in matches.index:
    # set ELO from before the match
    ht = matches["home_team"][ind]
    at = matches["away_team"][ind]

    matches["ELO_home"][ind] = all_teams_ELO[ht]
    matches["ELO_away"][ind] = all_teams_ELO[at]

    # calc new ELO after match and update
    Rn_home = calcNewELO(matches["ELO_home"][ind], matches["ELO_away"][ind], matches["tournament"][ind], matches["home_score"][ind], matches["away_score"][ind], not matches["neutral"][ind])
    Rn_away = calcNewELO(matches["ELO_away"][ind], matches["ELO_home"][ind], matches["tournament"][ind], matches["away_score"][ind], matches["home_score"][ind], False)
    
    all_teams_ELO[ht] = Rn_home
    all_teams_ELO[at] = Rn_away
    
matches.head()

C:\Users\dar7si\AppData\Local\Temp/ipykernel_27888/910130967.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches["ELO_home"][ind] = all_teams_ELO[ht]
C:\Users\dar7si\AppData\Local\Temp/ipykernel_27888/910130967.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches["ELO_away"][ind] = all_teams_ELO[at]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_team_code,away_team_code,tournament_code,home_win,away_win,draw,result,result_code,date_delta,ELO_home,ELO_away
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False,238,83,70,False,False,True,Draw,1,0.0,1000,1000
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False,83,233,70,True,False,False,Home_Win,2,98.0,1002,997
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False,238,83,70,True,False,False,Home_Win,2,462.0,989,1009
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False,83,233,70,False,False,True,Draw,1,826.0,1001,996
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False,238,83,70,True,False,False,Home_Win,2,1190.0,998,998

In [487]:
all_teams_ELO

{'Scotland': 1529.5153992122102,
 'England': 1727.1332463069755,
 'Wales': 1561.9479332202905,
 'Northern Ireland': 1302.8954525611082,
 'United States': 1699.5418495165065,
 'Uruguay': 1822.2244381588566,
 'Austria': 1480.6025999921153,
 'Hungary': 1596.7797829233202,
 'Argentina': 1976.7992416037696,
 'Belgium': 1820.207387200156,
 'France': 1796.2302483364458,
 'Netherlands': 1778.792612799844,
 'Czechoslovakia': 1419.049954562318,
 'Switzerland': 1721.8110122600297,
 'Sweden': 1524.2921446329692,
 'Germany': 1733.8667536930245,
 'Italy': 1764.2202170766798,
 'Chile': 1642.8041645664748,
 'Norway': 1511.9778184448264,
 'Finland': 1439.42451263336,
 'Luxembourg': 1198.4904927345385,
 'Russia': 1552.527000618492,
 'Denmark': 1739.7697516635542,
 'Catalonia': 1226.153266371077,
 'Basque Country': 1397.5979952071577,
 'Brazil': 2029.783702363659,
 'Japan': 1740.2813920649787,
 'Paraguay': 1635.959660265006,
 'Canada': 1681.7392655877893,
 'Estonia': 1212.051556416778,
 'Costa Rica': 1711.5425549721099,
 'Guatemala': 1453.0324709462193,
 'Spain': 1819.549509964469,
 'Brittany': 1029.90587621236,
 'Poland': 1588.0520667797095,
 'Yugoslavia': 1490.9865392801928,
 'New Zealand': 1655.682717914925,
 'Romania': 1397.1414753036647,
 'Latvia': 1115.673344468752,
 'Galicia': 1056.125041201963,
 'Portugal': 1767.450490035531,
 'Andalusia': 1103.2014489385488,
 'China PR': 1508.7910252956196,
 'Australia': 1698.317282085075,
 'Lithuania': 1028.5095072654615,
 'Turkey': 1463.1409396840725,
 'Central Spain': 999.5469960842547,
 'Mexico': 1742.5260333898548,
 'Aruba': 970.5366239287471,
 'Egypt': 1537.16788251106,
 'Haiti': 1500.3776890731494,
 'Philippines': 1248.4038020921805,
 'Bulgaria': 1313.8581879884691,
 'Jamaica': 1472.3937364076462,
 'Kenya': 1275.9835790242585,
 'Bolivia': 1538.8737583284394,
 'Peru': 1741.742300393895,
 'Honduras': 1412.3983801189431,
 'Guyana': 1221.5937287099184,
 'Uganda': 1320.5972655592836,
 'Belarus': 1206.88738444614,
 'El Salvador': 1432.2101616809846,
 'Barbados': 1043.5801885616834,
 'Republic of Ireland': 1438.8836331938473,
 'Trinidad and Tobago': 1330.8413441686582,
 'Greece': 1457.1045474388918,
 'Curaçao': 1329.8848758317772,
 'Dominica': 1020.442476337329,
 'Silesia': 1014.1818181818181,
 'Guadeloupe': 1257.4198114383166,
 'Israel': 1376.0048629631451,
 'Suriname': 1307.8327540542953,
 'French Guiana': 1301.1657719302887,
 'Cuba': 1274.6129352778364,
 'Colombia': 1789.0431618634943,
 'Ecuador': 1742.1222513023345,
 'Saint Kitts and Nevis': 1176.4062712900816,
 'Panama': 1590.4027344407164,
 'Slovakia': 1356.2457845905528,
 'Manchukuo': 968.8848758317771,
 'Croatia': 1709.3974000078847,
 'Nicaragua': 1217.4229559680912,
 'Afghanistan': 1212.2998137815905,
 'India': 1280.4425734693716,
 'Martinique': 1339.244991648436,
 'Zimbabwe': 1241.224439331055,
 'Iceland': 1378.551123682287,
 'Albania': 1302.448876317713,
 'Venezuela': 1564.7026254537527,
 'Madagascar': 1225.9382584285788,
 'Zambia': 1318.7050566462792,
 'Mauritius': 929.364400168526,
 'Tanzania': 1225.946901571797,
 'Iran': 1781.574065537551,
 'Djibouti': 787.7927555837458,
 'DR Congo': 1356.655423113141,
 'Vietnam': 1401.5574265306284,
 'Macau': 899.8314586652887,
 'Ethiopia': 1227.9356566556226,
 'Puerto Rico': 1102.2444180515383,
 'Réunion': 1235.5694498081705,
 'Sierra Leone': 1197.112553880873,
 'Zanzibar': 1275.0233473767003,
 'South Korea': 1736.5770440319088,
 'Ghana': 1458.373563296672,
 'South Africa': 1391.2633806799422,
 'New Caledonia': 1452.8686339229266,
 'Fiji': 1441.7619410797429,
 'Nigeria': 1504.7621806508084,
 'Myanmar': 1089.1484836334255,
 'Sri Lanka': 864.336185846901,
 'Tahiti': 1406.7487653499181,
 'Gambia': 1253.6340812206504,
 'Hong Kong': 1225.8515163665745,
 'Singapore': 1230.258043148109,
 'Malaysia': 1291.374696250515,
 'Indonesia': 1246.1151241682228,
 'Guinea-Bissau': 1231.0647427952415,
 'German DR': 1378.152783497245,
 'Vanuatu': 1379.862782575525,
 'Kernow': 1067.7553838908016,
 'Saarland': 973.6763262838732,
 'Cambodia': 977.5199648276466,
 'Lebanon': 1363.560790705505,
 'Pakistan': 991.4316917910542,
 'Vietnam Republic': 1171.9376174695615,
 'North Korea': 1442.245645100398,
 'Togo': 1256.2971595710953,
 'Sudan': 1224.0643433443774,
 'Malta': 1008.9951370368549,
 'Syria': 1512.959990823921,
 'Tunisia': 1590.1161074702718,
 'Malawi': 1249.810637492659,
 'Morocco': 1641.6414002420015,
 'Benin': 1289.3452504886475,
 'Cameroon': 1499.4229559680912,
 'Central African Republic': 1127.8041174178338,
 'Gabon': 1335.0201598770054,
 'Ivory Coast': 1511.2784620062423,
 'Congo': 1213.7754713733743,
 'Mali': 1507.2949433537208,
 'North Vietnam': 1071.7980968279048,
 'Mongolia': 1006.7370845724429,
 'Taiwan': 1011.059899323433,
 'Cyprus': 1136.2839206452527,
 'Iraq': 1617.3164997052947,
 'Saint Lucia': 1075.1039828765472,
 'Grenada': 1063.206329937201,
 'Thailand': 1344.1586558313418,
 'Senegal': 1604.767938147739,
 'Libya': 1283.053098428203,
 'Guinea': 1303.9358680614537,
 'Algeria': 1595.2378193491916,
 'Kuwait': 1291.1752893000496,
 'Jordan': 1548.8742435242914,
 'Solomon Islands': 1500.1861675418352,
 'Liberia': 1151.83211748894,
 'Laos': 900.9382584285788,
 'Saint Vincent and the Grenadines': 1123.793670062799,
 'Bermuda': 1220.1843384429146,
 'Niger': 1197.5418495165065,
 'Montenegro': 1290.57548736664,
 'Palestine': 1470.4706743925567,
 'Bahrain': 1483.5972655592836,
 'Papua New Guinea': 1417.4223670775605,
 'Burkina Faso': 1480.7980968279048,
 'Mauritania': 1269.7657994372632,
 'Saudi Arabia': 1655.9711725283605,
 'Eswatini': 1163.2005209498457,
 'Western Australia': 1086.97521869267,
 'Somalia': 836.2440480719542,
 'Lesotho': 1164.9734991301027,
 'Cook Islands': 1003.6005485992465,
 'Qatar': 1574.5821992579552,
 'Antigua and Barbuda': 1199.3870647221636,
 'Faroe Islands': 1059.8590603159275,
 'Bangladesh': 1008.234450486855,
 'Yemen': 1205.2629154275571,
 'Oman': 1558.1257564757086,
 'Yemen DPR': 1003.9804088557735,
 'Burundi': 1184.4926413120854,
 'Mozambique': 1241.224439331055,
 'Guam': 927.3645075938427,
 'Chad': 1067.4261617198756,
 'Angola': 1266.0168653302885,
 'Dominican Republic': 1153.3571592281028,
 'Seychelles': 874.2994652600365,
 'Rwanda': 1177.2159218197828,
 'São Tomé and Príncipe': 923.4197187779232,
 'Botswana': 1200.7366193200578,
 'Northern Cyprus': 1265.025543907923,
 'Cape Verde': 1366.3587526211622,
 'Kyrgyzstan': 1323.6879273371594,
 'Georgia': 1397.2929335997537,
 'Azerbaijan': 1148.6779442446223,
 'Kiribati': 949.6814369370205,
 'Tonga': 991.2727272727273,
 'Wallis Islands and Futuna': 1004.2440480719542,
 'United Arab Emirates': 1527.959660265006,
 'Brunei': 849.0296449180676,
 'Equatorial Guinea': 1274.2900272201712,
 'Liechtenstein': 797.2216829957079,
 'Nepal': 1076.7655495131448,
 'Greenland': 1207.0872751046145,
 'Niue': 989.9073623989227,
 'Samoa': 1038.1958256845132,
 'American Samoa': 967.0136076293852,
 'Belize': 1075.8342280697113,
 'Anguilla': 721.8960171234528,
 'Cayman Islands': 890.557523662671,
 'Palau': 980.6772115083376,
 'Sint Maarten': 976.8704828073483,
 'Namibia': 1289.525250442058,
 'Åland Islands': 1154.5049044548593,
 'Ynys Môn': 1262.8156615570854,
 'Saint Martin': 942.5937287099185,
 'San Marino': 558.372503244385,
 'Slovenia': 1414.7078553670308,
 'Jersey': 1371.4876349740007,
 'Shetland': 1110.8782315252517,
 'Isle of Wight': 1248.0,
 'Moldova': 1017.7783170042921,
 'Ukraine': 1621.8273104097975,
 'Kazakhstan': 1188.3220557553777,
 'Tajikistan': 1371.5609933378867,
 'Uzbekistan': 1548.1841599497168,
 'Turkmenistan': 1317.9376174695615,
 'Armenia': 1279.1163668061527,
 'Czech Republic': 1560.1889877399703,
 'Guernsey': 1393.1843384429146,
 'Gibraltar': 920.7070664002462,
 'Isle of Man': 1404.1173285296368,
 'North Macedonia': 1387.1418120115309,
 'Montserrat': 1096.6655383346051,
 'Serbia': 1667.0221815551736,
 'Canary Islands': 1034.5629690843828,
 'Bosnia and Herzegovina': 1412.8585246963353,
 'Maldives': 1091.9017419598408,
 'Andorra': 878.326655531248,
 'British Virgin Islands': 775.5320385639819,
 'Frøya': 964.800972450002,
 'Hitra': 1004.0165781598841,
 'United States Virgin Islands': 808.1537773409943,
 'Corsica': 1067.5985337602124,
 'Eritrea': 948.2606302013402,
 'Bahamas': 975.3055679524239,
 'Gotland': 1076.5627048969634,
 'Saare County': 985.5965150165661,
 'Rhodes': 1164.5893744348407,
 'Micronesia': 985.0954984722292,
 'Bhutan': 818.1841599497168,
 'Orkney': 994.034518341805,
 'Monaco': 1040.9469703609172,
 'Tuvalu': 1008.239720608359,
 'Sark': 966.1621324733518,
 'Alderney': 954.0090110724142,
 'Mayotte': 1063.505836827872,
 'Turks and Caicos Islands': 904.1295171926517,
 'Timor-Leste': 787.8756449584859,
 'Western Isles': 1089.5609933378867,
 'Falkland Islands': 965.8470381692093,
 'Kosovo': 1283.342648790151,
 'Republic of St. Pauli': 992.6486991558949,
 'Găgăuzia': 991.4399862358816,
 'Tibet': 925.1145555827405,
 'Occitania': 1131.776427926735,
 'Sápmi': 1078.289050084782,
 'Northern Mariana Islands': 841.6670360094752,
 'Menorca': 1214.9215894208312,
 'Comoros': 1123.6197023926363,
 'Provence': 1041.486506897268,
 'Arameans Suryoye': 1087.4350408302566,
 'Padania': 1300.0432412074592,
 'Iraqi Kurdistan': 1189.4832490728515,
 'Gozo': 948.22601308247,
 'Bonaire': 1054.5228884357568,
 'Western Sahara': 1026.5890077304994,
 'Raetia': 973.1621324733518,
 'Darfur': 936.7739017773855,
 'Tamil Eelam': 1070.163342761715,
 'South Sudan': 1012.0222429123761,
 'Abkhazia': 1194.4512935806713,
 'Saint Pierre and Miquelon': 953.0906046114693,
 'Artsakh': 1095.9567587925408,
 'Madrid': 989.7985510614512,
 'Vatican City': 972.0530296390828,
 'Ellan Vannin': 1085.195495643043,
 'South Ossetia': 1081.0427126794964,
 'County of Nice': 1102.3557999500135,
 'Székely Land': 1074.0647427952415,
 'Romani people': 1004.3120726628407,
 'Felvidék': 1033.1222513023345,
 'Chagos Islands': 946.810637492659,
 'United Koreans in Japan': 1059.0679852927874,
 'Somaliland': 1033.6681540014233,
 'Western Armenia': 1121.9915418165333,
 'Barawa': 933.6223080545992,
 'Kárpátalja': 1130.1417408049779,
 'Yorkshire': 1058.2260982226144,
 'Panjab': 1112.143901634181,
 'Matabeleland': 1038.481056548927,
 'Cascadia': 1093.241464638452,
 'Kabylia': 1021.6953253927439,
 'Parishes of Jersey': 1018.6760656415173,
 'Chameria': 1068.8655970093823,
 'Saint Helena': 979.374696250515,
 'Yoruba Nation': 993.5982407713357,
 'Biafra': 1029.810637492659,
 'Mapuche': 1008.635599831474,
 'Aymara': 978.4021202721167,
 'Brunei Darussalam': 1004.3452504886475,
 'Asturias': 1013.2971595710953,
 'Crimea': 1050.374696250515,
 'Two Sicilies': 992.6389016936737,
 'Surrey': 1011.6260295673783,
 'Maule Sur': 1036.9404129730804}

In [522]:
matches.to_excel("with_ELO.xlsx")

## Again MLPClassifier

In [510]:
# split train and test data: use 80% for training and the remaining for testing
train = matches.sample(frac = 0.8)
test  = matches.drop(train.index)


# fitting
predictors = ["home_team_code", "away_team_code", "ELO_home", "ELO_away"]
targets = "result"

clf = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(200, 10, 5), random_state=2)

clf.fit(train[predictors], train[targets])

c:\Program Files\Anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:500: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(400, 10, 5), random_state=2,
              solver='lbfgs')

In [511]:
# make predictions
predictions = clf.predict(test[predictors])

# accuracy
acc_score = accuracy_score(test[targets], predictions)
acc_score

0.5642305946436678

In [512]:
#visualize the predcitions a bit
combined = pd.DataFrame(dict(actual=test[targets], predicted=predictions))
pd.crosstab(index=combined["predicted"], columns=combined["actual"])

actual     Away_Win  Draw  Home_Win
predicted
Away_Win       1396   727       691
Home_Win       1095  1327      3576

## Again RandomForestClassifier

In [520]:
# fitting
rf = RandomForestClassifier(n_estimators=200, min_samples_split=10, random_state=1)

predictors = ["home_team_code", "away_team_code", "ELO_home", "ELO_away", "neutral"]
targets = "home_win"

rf.fit(train[predictors], train[targets])

# make predictions
predictions = rf.predict(test[predictors])

# accuracy
acc_score = accuracy_score(test[targets], predictions)
acc_score

0.6656831593281888

In [ ]:
#visualize the predcitions a bit
combined = pd.DataFrame(dict(actual=test[targets], predicted=predictions))
pd.crosstab(index=combined["predicted"], columns=combined["actual"])

actual     Away_Win  Draw  Home_Win
predicted
Away_Win       1175   638       642
Draw            323   259       364
Home_Win        993  1157      3261